// app global css in SCSS form


.w-full{
    width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

a.text-link, .project-description a{
    color: $primary;
    text-decoration: none;
    transition: color 0.3s;
    &:hover{
        color: $secondary;
    }
}
